body {width: 100%;}

header {
  h1 {
    font-size: 1.5em;
    text-align: center;
  }
}

.answer {
  margin: 0 auto;
  //width: 360px;
  
  h2 {
    display: block;
    font-size: 8em;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }

  .no {
    //display: none;
  }

  .yes {
    display: none;
    audio {
      display: block;
      margin: 0 auto;
    }
    .title {
      font-size: 1em;
      text-align: center;
    }
  }
}

footer {
  font-size: 0.5em;
  margin-top: 2em;
  text-align: center;
}